<%= link_to 'Home', billboards_path(@billboard) %>
<%= link_to 'New Artist', new_artist_path(@artists) %>
<h1> Artist Names </h1>
 
<% @artists.each do |artist| %>
  
  <h3><%=artist.name %> </h3>

  <%= link_to 'Show', artist_path(artist) %>
  <%= link_to 'Songs', artist_song_path(@artist, @song) %>

<% end %>
 